// ===========================================
// =links
// ===========================================

a {
  color: var(--color-brand);
  text-decoration: underline;
  text-decoration-color: var(--color-link-underline);
  text-decoration-skip-ink: all;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.12em;

  &:hover,
  &:focus {
    text-decoration-color: var(--color-brand);
    text-decoration: underline;
  }
}
