// ===========================================
// =pagination
// ===========================================

.c-pagination {
  list-style: none;
  margin: calc(30 / 16 * 1rem) 0 0;
  border-top: 1px solid var(--color-border-soft);
  padding: calc(30 / 16 * 1rem) 0 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(3 / 16 * 1rem);
}

.c-pagination__link {
  display: block;
  color: var(--color-pagination);

  &:hover {
    color: var(--color-brand-bright);
  }
}

span.c-pagination__link,
span.c-pagination__link:hover {
  color: var(--color-pagination-disabled);
  pointer-events: none;
}

.c-pagination__link > svg {
  display: block;
}
