// ===========================================
// =Legal nav
// ===========================================

.c-legalnav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(12 / 16 * 1rem);
}

.c-legalnav__link {
  text-decoration: none;
  color: var(--color-text-invert);
  transition: color 0.2s ease-out;
  font-size: calc(14 / 16 * 1rem);

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--color-text-invert-offset);
  }
}
