// ===========================================
// =home collage
// ===========================================

.c-homecollage {
  margin: 0;
  padding: 0;

  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "a a a . . ."
    "a a a b b ."
    "a a a b b ."
    ". d d c c c"
    ". d d c c c"
    ". . . c c c";
  gap: calc(18 / 16 * 1rem);

  @include breakpoint(small) {
    aspect-ratio: 16 / 7;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      ". . . c c c c c c . . ."
      "a a a c c c c c c d d d"
      "a a a c c c c c c d d d"
      ". b b c c c c c c d d d"
      ". b b c c c c c c . . ."
      ". . . c c c c c c . . .";
  }

  @include breakpoint(medium) {
    gap: calc(30 / 16 * 1rem);
  }

  @include breakpoint(large) {
    gap: var(--grid-gutter);
  }
}

.c-homecollage > img:nth-child(1) {
  grid-area: a;
}

.c-homecollage > img:nth-child(2) {
  grid-area: b;
}

.c-homecollage > img:nth-child(3) {
  grid-area: c;
}

.c-homecollage > img:nth-child(4) {
  grid-area: d;
}

.c-homecollage__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
