// ===========================================
// =home images
// ===========================================

.c-homeimages {
  background-image: linear-gradient(
    to bottom,
    var(--color-brand) 0,
    var(--color-brand) 50%,
    var(--color-white) 50%,
    var(--color-white) 100%
  );

  @include breakpoint(small) {
    background-image: linear-gradient(
      to bottom,
      var(--color-brand) 0,
      var(--color-brand) 60%,
      var(--color-white) 60%,
      var(--color-white) 100%
    );
  }
}

.c-homeimages__grid {
  list-style: none;
  margin: 0;
  padding: 0;

  height: 160vw;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas:
    "a a a . . . ."
    "a a a b b . ."
    "a a a b b . ."
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    "c c c c c c c"
    ". . d d d d d"
    ". . d d d d d"
    ". . d d d d d";
  gap: calc(18 / 16 * 1rem);

  @include breakpoint(small) {
    height: 45vw;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
      ". . . c c c c c c . . ."
      "a a a c c c c c c d d d"
      "a a a c c c c c c d d d"
      ". b b c c c c c c d d d"
      ". b b c c c c c c d d d"
      ". . . c c c c c c . . .";
  }

  @include breakpoint(medium) {
    height: 350px;
    gap: calc(30 / 16 * 1rem);
  }

  @include breakpoint(large) {
    height: 420px;
    gap: calc(42 / 16 * 1rem);
  }

  @include breakpoint(xlarge) {
    height: 620px;
  }
}

.c-homeimages__grid > li {
  position: relative;
}

.c-homeimages__one {
  grid-area: a;
  background-color: red;
}

.c-homeimages__two {
  grid-area: b;
  background-color: green;
}

.c-homeimages__three {
  grid-area: c;
  background-color: blue;
}

.c-homeimages__four {
  grid-area: d;
  background-color: yellow;
}

.c-homeimages__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
