// ===========================================
// =Footer nav
// ===========================================

.c-footernav {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: calc(6 / 16 * 1rem);
}

.c-footernav__link {
  text-decoration: none;
  color: var(--color-text-invert);
  font-size: clamp(calc(38 / 16 * 1rem), 4vw, calc(72 / 16 * 1rem));
  line-height: 1.06;
  font-weight: 300;

  transition: color 0.2s ease-out;

  &:hover,
  &:focus {
    text-decoration: none;
    color: var(--color-brand-light);
  }

  &.is-active {
    color: var(--color-text-invert);
    text-decoration: line-through;
  }
}
