// ===========================================
// =social media
// ===========================================

.c-socialmedia {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: calc(3 / 16 * 1rem);
}

.c-socialmedia__link {
  color: var(--color-text-inverse);
  transition: color 0.2s ease-out;

  &:focus,
  &:hover {
    color: var(--color-brand-light);
  }
}
