// ===========================================
// =siteheader
// ===========================================

.c-siteheader {
  padding-top: calc(18 / 16 * 1rem);
  padding-bottom: calc(18 / 16 * 1rem);
  background-color: var(--color-brand);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);

  @include breakpoint(medium) {
    padding-top: calc(36 / 16 * 1rem);
    padding-bottom: calc(36 / 16 * 1rem);
  }
}

.c-siteheader__inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  @include breakpoint(large) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    align-items: center;
  }
}

// -------------------------------------------
// =siteheader logo
// -------------------------------------------

.c-siteheader__logo {
  margin: 0 auto 0 0;

  @include breakpoint(large) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
  }
}

.c-siteheader__logo > a {
  display: block;
  text-decoration: none;
  color: var(--color-white);

  width: 56px;

  @include breakpoint(medium) {
    width: 72px;
  }

  &:hover {
    text-decoration: none;
    color: var(--color-white);
  }
}

.c-siteheader__logo svg {
  display: block;
  width: 100%;
}

// -------------------------------------------
// =siteheader nav
// -------------------------------------------

.c-siteheader__nav {
  display: none;

  @include breakpoint(large) {
    display: block;
  }
}

// -------------------------------------------
// =siteheader actions
// -------------------------------------------

.c-siteheader__actions {
  display: none;
  margin: 0;

  @include breakpoint(large) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

// -------------------------------------------
// =siteheader hamburger
// -------------------------------------------

.c-siteheader__hamburger {
  margin: 0;
  display: block;

  @include breakpoint(large) {
    display: none;
  }
}
