// ===========================================
// =programme
// ===========================================

.c-programme {
  display: block;
}

.c-programme__link {
  display: block;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.c-programme__media {
  margin-bottom: calc(18 / 16 * 1rem);
  position: relative;
  background-color: var(--color-gray-700);
}

.c-programme__media::after {
  content: "";
  position: absolute;
  bottom: calc(30 / 16 * 1rem);
  right: calc(30 / 16 * 1rem);
  width: 48px;
  height: 48px;
  background-image: url(../img/icon_programme.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;

  a:hover &,
  a:focus & {
    animation: bounceFromBottom 0.42s ease-out forwards 1;
  }

  @include breakpoint(large) {
    width: 60px;
    height: 60px;
  }

  @include breakpoint(xlarge) {
    width: 72px;
    height: 72px;
  }
}

.c-programme__title {
  margin-bottom: calc(12 / 16 * 1rem);
  color: var(--color-text);
  font-weight: 600;
  font-size: clamp(calc(21 / 16 * 1rem), 2vw, calc(28 / 16 * 1rem));
  line-height: 1.3;
  font-family: var(--fontstack-alt);

  transition: color 0.2s ease-out;

  a:hover & {
    color: var(--color-brand);
  }
}

.c-programme__date {
  color: var(--color-text);
  margin-bottom: 0;
}

.c-programme__episodes {
  color: var(--color-text-offset);
  margin-bottom: 0;
}
