// ===========================================
// =suptitle
// ===========================================

.c-suptitle {
  color: var(--color-text);
  font-weight: 600;
  font-size: calc(10 / 16 * 1rem);
  line-height: 1.3;
  font-family: var(--fontstack-alt);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.c-suptitle--inverse {
  color: var(--color-text-inverse);
}
