// ===========================================
// =contact data
// ===========================================

.c-contactinfo {
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  @include breakpoint(xlarge) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    column-gap: var(--grid-gutter);
  }
}

.c-contactinfo__main {
  @include breakpoint(xlarge) {
    order: 2;
  }
}

.c-contactinfo__data {
  @include breakpoint(xlarge) {
    order: 1;
  }
}
