// ===========================================
// =sections
// ===========================================

.c-section {
  padding-top: calc(30 / 16 * 1rem);
  padding-bottom: calc(30 / 16 * 1rem);

  @include breakpoint(small) {
    padding-top: calc(36 / 16 * 1rem);
    padding-bottom: calc(36 / 16 * 1rem);
  }
  @include breakpoint(medium) {
    padding-top: calc(54 / 16 * 1rem);
    padding-bottom: calc(54 / 16 * 1rem);
  }
  @include breakpoint(large) {
    padding-top: calc(90 / 16 * 1rem);
    padding-bottom: calc(90 / 16 * 1rem);
  }
}

.c-section + .c-section {
  border-top: 1px solid var(--color-border-light);
}

// ===========================================
// =sections blocks
// ===========================================

.c-section__block + .c-section__block {
  margin-top: calc(36 / 16 * 1rem);
}
