---
permalink: a-propos/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "about" %}

{% block content %}
<main>

  <div class="c-banner">
    <div class="c-banner__content">
      <div class="l-container">
          <h1 class="c-h1  c-h1--constrained  c-h1--inverse  u-margin-bottom-none">Louiz Radio</h1>
      </div>
    </div>
    <div class="c-banner__image">
      <img class="o-fluidimg"
        src="https://picsum.photos/id/247/1500/500"
        decoding="async"
        width="1500"
        height="600"
        alt="programme">
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <div class="l-split  l-split--5fr7fr">
        <h2 class="c-sectiontitle">Qui sommes nous ?</h2>
        <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut corrupti nisi sunt. Sed natus distinctio delectus nostrum molestias, ea aut nulla repudiandae! Unde dolorum neque similique perspiciatis rem vel reiciendis.</p>
          <p>Aut praesentium qui, nobis quam pariatur earum ut, animi velit placeat perferendis quia quis corporis excepturi ab unde incidunt reprehenderit harum id! Labore eius molestiae a et suscipit totam quisquam!</p>
          <p>Cupiditate, exercitationem incidunt ex fuga facilis quibusdam veritatis pariatur porro iste quasi voluptate illum! Debitis placeat sit unde, nulla atque enim eos sint doloribus ullam minus voluptatum illum praesentium nam!</p>
        </div>
      </div>

    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <div class="l-split  l-split--5fr7fr">
        <h2 class="c-sectiontitle">Nos partenaires</h2>
        <ul class="l-grid  l-grid--gap  l-grid--2cols  l-grid--3cols@small  l-grid--4cols@medium">
          <li>
            <article class="c-partner">
              <a class="c-partner__link" href="#">
                <img class="o-fluidimg" src="/assets/img/partner_placeholder.jpg" alt="Partner name">
              </a>
            </article>
          </li>
          <li>
            <article class="c-partner">
              <a class="c-partner__link" href="#">
                <img class="o-fluidimg" src="/assets/img/partner_placeholder.jpg" alt="Partner name">
              </a>
            </article>
          </li>
          <li>
            <article class="c-partner">
              <a class="c-partner__link" href="#">
                <img class="o-fluidimg" src="/assets/img/partner_placeholder.jpg" alt="Partner name">
              </a>
            </article>
          </li>
          <li>
            <article class="c-partner">
              <a class="c-partner__link" href="#">
                <img class="o-fluidimg" src="/assets/img/partner_placeholder.jpg" alt="Partner name">
              </a>
            </article>
          </li>
          <li>
            <article class="c-partner">
              <a class="c-partner__link" href="#">
                <img class="o-fluidimg" src="/assets/img/partner_placeholder.jpg" alt="Partner name">
              </a>
            </article>
          </li>
          <li>
            <article class="c-partner">
              <a class="c-partner__link" href="#">
                <img class="o-fluidimg" src="/assets/img/partner_placeholder.jpg" alt="Partner name">
              </a>
            </article>
          </li>
        </ul>
      </div>

    </div>
  </div>

</main>
{% endblock %}