---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% block content %}
<main>
  <p>Bienvenue chez Louïz</p>
  <h1>Une radio libre nouvelle génération</h1>
  <p>Louïz est une radio dont les programmes sont créés par et pour de jeunes adultes. Nous souhaitons pratiquer le slow journalisme, la qualité plutôt que la quantité, le temps long plutôt que les réactions à chaud et à l’actualité.</p>
  <h2>Emissions</h2>
  <ul>
    <li>

      <article class="c-programme">
        <a class="c-programme__link" href="#">
          <p class="c-programme__media">
            imgtest
          </p>
          <h3 class="c-programme__title">Le grand bordel</h3>
          <p class="c-programme__date">Mardi 10h00 - 11h00</p>
          <p class="c-programme__meta">18 Episodes</p>
        </a>
      </article>

    </li>
  </ul>
</main>
{% endblock %}