---
permalink: index.html
---

{% extends "layouts/base.njk" %}

{% block content %}
<main>
  <div class="c-banner">
    <div class="c-banner__inner  l-container">
      <p class="c-suptitle  c-suptitle--invert">Bienvenue chez Louïz</p>
      <h1 class="c-h1  c-h1--constrained  c-h1--invert">Une radio libre nouvelle génération</h1>
    </div>
  </div>

  <div class="c-homeimages">
    <div class="l-container">
      <div class="c-homeimages__grid">
        <img class="c-homeimages__img" src="/assets/img/homeimage4.jpg" alt=""></li>
        <img class="c-homeimages__img" src="/assets/img/homeimage2.jpg" alt=""></li>
        <img class="c-homeimages__img" src="/assets/img/homeimage3.jpg" alt=""></li>
        <img class="c-homeimages__img" src="/assets/img/homeimage1.jpg" alt=""></li>
      </div>
    </div>
  </div>


  <div class="c-section">
    <div class="l-container">
      <p class="c-lead  c-lead--constrained">Louïz est une radio dont les programmes sont créés par et pour de jeunes adultes. Nous souhaitons pratiquer le slow journalisme, la qualité plutôt que la quantité, le temps long plutôt que les réactions à chaud et à l'actualité.</p>
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <h2>Emissions</h2>
      <ul class="l-grid  l-grid--2cols@medium  l-grid--3cols@large">
        <li>
          <article class="c-programme">
            <a class="c-programme__link" href="#">
              <p class="c-programme__media">
                <img class="c-programme__image  o-fluidimg"
                     src="/assets/img/placeholder_800x800.jpg"
                     loading="lazy"
                     decoding="async"
                     alt="programme">
              </p>
              <h3 class="c-programme__title">Le grand bordel</h3>
              <p class="c-programme__date">Mardi 10h00 - 11h00</p>
              <p class="c-programme__meta">18 Episodes</p>
            </a>
          </article>
        </li>
        <li>
          <article class="c-programme">
            <a class="c-programme__link" href="#">
              <p class="c-programme__media">
                <img class="c-programme__image  o-fluidimg"
                     src="/assets/img/placeholder_800x800.jpg"
                     loading="lazy"
                     decoding="async"
                     alt="programme">
              </p>
              <h3 class="c-programme__title">Le grand bordel</h3>
              <p class="c-programme__date">Mardi 10h00 - 11h00</p>
              <p class="c-programme__meta">18 Episodes</p>
            </a>
          </article>
        </li>
        <li>
          <article class="c-programme">
            <a class="c-programme__link" href="#">
              <p class="c-programme__media">
                <img class="c-programme__image  o-fluidimg"
                     src="/assets/img/placeholder_800x800.jpg"
                     loading="lazy"
                     decoding="async"
                     alt="programme">
              </p>
              <h3 class="c-programme__title">Le grand bordel</h3>
              <p class="c-programme__date">Mardi 10h00 - 11h00</p>
              <p class="c-programme__meta">18 Episodes</p>
            </a>
          </article>
        </li>
        <li>
          <article class="c-programme">
            <a class="c-programme__link" href="#">
              <p class="c-programme__media">
                <img class="c-programme__image  o-fluidimg"
                     src="/assets/img/placeholder_800x800.jpg"
                     loading="lazy"
                     decoding="async"
                     alt="programme">
              </p>
              <h3 class="c-programme__title">Le grand bordel</h3>
              <p class="c-programme__date">Mardi 10h00 - 11h00</p>
              <p class="c-programme__meta">18 Episodes</p>
            </a>
          </article>
        </li>
        <li>
          <article class="c-programme">
            <a class="c-programme__link" href="#">
              <p class="c-programme__media">
                <img class="c-programme__image  o-fluidimg"
                     src="/assets/img/placeholder_800x800.jpg"
                     loading="lazy"
                     decoding="async"
                     alt="programme">
              </p>
              <h3 class="c-programme__title">Le grand bordel</h3>
              <p class="c-programme__date">Mardi 10h00 - 11h00</p>
              <p class="c-programme__meta">18 Episodes</p>
            </a>
          </article>
        </li>
        <li>
          <article class="c-programme">
            <a class="c-programme__link" href="#">
              <p class="c-programme__media">
                <img class="c-programme__image  o-fluidimg"
                     src="/assets/img/placeholder_800x800.jpg"
                     loading="lazy"
                     decoding="async"
                     alt="programme">
              </p>
              <h3 class="c-programme__title">Le grand bordel</h3>
              <p class="c-programme__date">Mardi 10h00 - 11h00</p>
              <p class="c-programme__meta">18 Episodes</p>
            </a>
          </article>
        </li>
      </ul>

    </div>
  </div>

</main>
{% endblock %}