---
permalink: emissions/titre-emission/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "programs" %}

{% block content %}
<main>

  <div class="c-banner">
    <div class="c-banner__content">
      <div class="l-container">
          <h1 class="c-h1  c-h1--constrained  c-h1--inverse  u-margin-bottom-none">Long live Rock'n Roll</h1>
      </div>
    </div>
    <div class="c-banner__image">
      <img class="o-fluidimg"
        src="https://picsum.photos/id/1071/1500/500"
        decoding="async"
        width="1500"
        height="600"
        alt="programme">
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <div class="c-pageintro">
        <div class="c-pageintro__primary">
          <p class="c-lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quia modi totam doloremque voluptatum exercitationem aliquid nemo quo error voluptas odit consequatur nisi ipsa, beatae atque molestiae expedita, id architecto.</p>
        </div>
        <div class="c-pageintro__secondary">
          <h2 class="c-h6">S'abonner</h2>
          <ul class="c-subscribe">
            <li class="c-subscribe__item"><a  class="c-subscribe__link" href="#" aria-label="RSS" title="RSS">{% include "svg/icon_rss.svg" %}</a></li>
            <li class="c-subscribe__item"><a  class="c-subscribe__link" href="#" aria-label="Apple Podcast" title="Apple Podcast">{% include "svg/icon_apple_podcast.svg" %}</a></li>
            <li class="c-subscribe__item"><a  class="c-subscribe__link" href="#" aria-label="Spotify" title="Spotify">{% include "svg/icon_spotify.svg" %}</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="c-section">
    <div class="l-container">
      <h2 class="c-sectiontitle">Dernier épisode</h2>
      <div class="c-audioplayer">
        <iframe src="https://player.captivate.fm/episode/8e7e28f5-bd09-4c2c-848b-76172e041d00" scrolling="no" seamless frameborder="no"></iframe>
      </div>
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <h2 class="c-sectiontitle">18 Episodes</h2>

      <ul class="c-list-episodes">
        <li class="c-list-episodes__item">

          <article class="c-episode">
            <a href="/episodes/code-emission/titre/" class="c-episode__link">
              <p class="c-episode__date"><time datetime="2022-01-25">25.01.2022</time></p>
              <h3 class="c-episode__title">Titre d'un épisode de Long live Rock'n Roll un peu plus long</h3>
              <span class="c-episode__icon" aria-hidden="true">{% include "svg/icon_program_more.svg" %}</span>
            </a>
          </article>

        </li>
        <li class="c-list-episodes__item">

          <article class="c-episode">
            <a href="/episodes/code-emission/titre/" class="c-episode__link">
              <p class="c-episode__date"><time datetime="2022-01-25">25.01.2022</time></p>
              <h3 class="c-episode__title">Titre d'un épisode de Long live Rock'n Roll un peu plus long</h3>
              <span class="c-episode__icon" aria-hidden="true">{% include "svg/icon_program_more.svg" %}</span>
            </a>
          </article>

        </li>
        <li class="c-list-episodes__item">

          <article class="c-episode">
            <a href="/episodes/code-emission/titre/" class="c-episode__link">
              <p class="c-episode__date"><time datetime="2022-01-25">25.01.2022</time></p>
              <h3 class="c-episode__title">Titre d'un épisode de Long live Rock'n Roll un peu plus long</h3>
              <span class="c-episode__icon" aria-hidden="true">{% include "svg/icon_program_more.svg" %}</span>
            </a>
          </article>

        </li>
        <li class="c-list-episodes__item">

          <article class="c-episode">
            <a href="/episodes/code-emission/titre/" class="c-episode__link">
              <p class="c-episode__date"><time datetime="2022-01-25">25.01.2022</time></p>
              <h3 class="c-episode__title">Titre d'un épisode de Long live Rock'n Roll un peu plus long</h3>
              <span class="c-episode__icon" aria-hidden="true">{% include "svg/icon_program_more.svg" %}</span>
            </a>
          </article>

        </li>
        <li class="c-list-episodes__item">

          <article class="c-episode">
            <a href="/episodes/code-emission/titre/" class="c-episode__link">
              <p class="c-episode__date"><time datetime="2022-01-25">25.01.2022</time></p>
              <h3 class="c-episode__title">Titre d'un épisode de Long live Rock'n Roll un peu plus long</h3>
              <span class="c-episode__icon" aria-hidden="true">{% include "svg/icon_program_more.svg" %}</span>
            </a>
          </article>

        </li>
        <li class="c-list-episodes__item">

          <article class="c-episode">
            <a href="/episodes/code-emission/titre/" class="c-episode__link">
              <p class="c-episode__date"><time datetime="2022-01-25">25.01.2022</time></p>
              <h3 class="c-episode__title">Titre d'un épisode de Long live Rock'n Roll un peu plus long</h3>
              <span class="c-episode__icon" aria-hidden="true">{% include "svg/icon_program_more.svg" %}</span>
            </a>
          </article>

        </li>
        <li class="c-list-episodes__item">

          <article class="c-episode">
            <a href="/episodes/code-emission/titre/" class="c-episode__link">
              <p class="c-episode__date"><time datetime="2022-01-25">25.01.2022</time></p>
              <h3 class="c-episode__title">Titre d'un épisode de Long live Rock'n Roll un peu plus long</h3>
              <span class="c-episode__icon" aria-hidden="true">{% include "svg/icon_program_more.svg" %}</span>
            </a>
          </article>

        </li>
        <li class="c-list-episodes__item">

          <article class="c-episode">
            <a href="/episodes/code-emission/titre/" class="c-episode__link">
              <p class="c-episode__date"><time datetime="2022-01-25">25.01.2022</time></p>
              <h3 class="c-episode__title">Titre d'un épisode de Long live Rock'n Roll un peu plus long</h3>
              <span class="c-episode__icon" aria-hidden="true">{% include "svg/icon_program_more.svg" %}</span>
            </a>
          </article>

        </li>
        <li class="c-list-episodes__item">

          <article class="c-episode">
            <a href="/episodes/code-emission/titre/" class="c-episode__link">
              <p class="c-episode__date"><time datetime="2022-01-25">25.01.2022</time></p>
              <h3 class="c-episode__title">Titre d'un épisode de Long live Rock'n Roll un peu plus long</h3>
              <span class="c-episode__icon" aria-hidden="true">{% include "svg/icon_program_more.svg" %}</span>
            </a>
          </article>

        </li>
        <li class="c-list-episodes__item">

          <article class="c-episode">
            <a href="/episodes/code-emission/titre/" class="c-episode__link">
              <p class="c-episode__date"><time datetime="2022-01-25">25.01.2022</time></p>
              <h3 class="c-episode__title">Titre d'un épisode de Long live Rock'n Roll un peu plus long</h3>
              <span class="c-episode__icon" aria-hidden="true">{% include "svg/icon_program_more.svg" %}</span>
            </a>
          </article>

        </li>
      </ul>

      <ul class="c-pagination">
        <li class="c-pagination__item"><span class="c-pagination__link" aria-label="Précédents">{% include "svg/pagination_previous.svg" %}</span></li>
        <li class="c-pagination__item"><a class="c-pagination__link  is-disabled" href="#" aria-label="Suivants">{% include "svg/pagination_next.svg" %}</a></li>
      </ul>

    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      <h2 class="c-sectiontitle">Equipe</h2>

      <ul class="l-grid  l-grid--gap  l-grid--2cols@small  l-grid--3cols@medium  l-grid--4cols@large">
        <li>
          
          <article class="c-team">
            <p class="c-team__img"><img class="o-fluidimg" src="https://source.unsplash.com/JoM_lC1WAnE/600x800"
                  loading="lazy" 
                  decoding="async"
                  width="600" 
                  height="800" 
                  alt=""></p>
            <h3 class="c-team__name">Olga Zelenova</h3>
            <p class="c-team__function">Production</p>
          </article>

        </li>
        <li>
          
          <article class="c-team">
            <p class="c-team__img"><img class="o-fluidimg" src="https://source.unsplash.com/KIPqvvTOC1s/600x800"
                  loading="lazy" 
                  decoding="async"
                  width="600" 
                  height="800" 
                  alt=""></p>
            <h3 class="c-team__name">Bart Vandevelde</h3>
            <p class="c-team__function">Animation radio</p>
          </article>

        </li>
        <li>
          
          <article class="c-team">
            <p class="c-team__img"><img class="o-fluidimg" src="https://source.unsplash.com/IF9TK5Uy-KI/600x800"
                  loading="lazy" 
                  decoding="async"
                  width="600" 
                  height="800"
                  alt=""></p>
            <h3 class="c-team__name">Chloé Lacroix</h3>
            <p class="c-team__function">Infomatique</p>
          </article>

        </li>
      </ul>

    </div>
  </div>

</main>
{% endblock %}