---
permalink: emissions/index.html
---

{% extends "layouts/base.njk" %}

{% set currentSection = "programs" %}

{% block content %}
<main>

  <div class="c-banner">
    <div class="c-banner__content">
      <div class="l-container">

          <h1 class="c-h1  c-h1--constrained  c-h1--inverse  u-margin-bottom-none">Nos émissions</h1>
      
      </div>
    </div>
  </div>

  <div class="c-section">
    <div class="l-container">

      
      <div class="c-section__block">
        <h2 class="u-hide">Recherche</h2>
        <form class="c-searchform" action="">
          <div class="c-searchform__field">
            <label for="q" class="u-hide">Recherche</label>
            <input class="c-searchform__input" placeholder="Rechercher" type="search" id="q" name="q">
            <button class="c-searchform__submit"><span class="u-hide">Rechercher</span>{% include "svg/icon_search.svg" %}</button>
          </div>
        </form>
      </div>

      <div class="c-section__block">
        <div class="c-categories">
          <h2 class="c-categories__title">Catégories</h2>
          <ul class="c-list-categories  l-grid  l-grid--colgap  l-grid--2cols@small  l-grid--3cols@medium  l-grid--4cols@xlarge">
            <li class="c-list-categories__item"><a class="c-list-categories__link  is-active" href="#">Toutes les catégories</a></li>
            <li class="c-list-categories__item"><a class="c-list-categories__link" href="#">Actualités</a></li>
            <li class="c-list-categories__item"><a class="c-list-categories__link" href="#">Débats</a></li>
            <li class="c-list-categories__item"><a class="c-list-categories__link" href="#">Etudiants</a></li>
            <li class="c-list-categories__item"><a class="c-list-categories__link" href="#">Musique</a></li>
            <li class="c-list-categories__item"><a class="c-list-categories__link" href="#">Santé</a></li>
            <li class="c-list-categories__item"><a class="c-list-categories__link" href="#">Société</a></li>
            <li class="c-list-categories__item"><a class="c-list-categories__link" href="#">Vie locale</a></li>
          </ul>
        </div>
      </div>

      <div class="c-section__block">
        <h2 class="u-hide">Emissions</h2>
        <p class="u-text-right">37 émissions</p>
        <ul class="l-grid  l-grid--gap  l-grid--2cols@small  l-grid--3cols@large  u-margin-bottom-xl">
          <li>
            <article class="c-programme">
              <a class="c-programme__link" href="/emissions/titre-emission/">
                <p class="c-programme__media">
                  <img class="c-programme__image  o-fluidimg"
                       src="https://picsum.photos/id/1071/800/800"
                       loading="lazy"
                       decoding="async"
                       width="800"
                       height="800"
                       alt="programme">
                </p>
                <div class="c-programme__body">
                  <h3 class="c-programme__title">Long live Rock'n Roll</h3>
                  <p class="c-programme__date">Mardi 10h00 - 11h00</p>
                  <p class="c-programme__episodes">18 Episodes</p>
                </div>
              </a>
            </article>
          </li>
          <li>
        
            <article class="c-programme">
              <a class="c-programme__link" href="/emissions/titre-emission/">
                <p class="c-programme__media">
                  <img class="c-programme__image  o-fluidimg"
                       src="https://picsum.photos/id/129/800/800"
                       loading="lazy"
                       decoding="async"
                       width="800"
                       height="800"
                       alt="programme">
                </p>
                <div class="c-programme__body">
                  <h3 class="c-programme__title">Le grand bordel</h3>
                  <p class="c-programme__date">Mardi 10h00 - 11h00</p>
                  <p class="c-programme__episodes">18 Episodes</p>
                </div>
              </a>
            </article>
          </li>
          <li>
            <article class="c-programme">
              <a class="c-programme__link" href="/emissions/titre-emission/">
                <p class="c-programme__media">
                  <img class="c-programme__image  o-fluidimg"
                       src="https://picsum.photos/id/103/800/800"
                       loading="lazy"
                       decoding="async"
                       width="800"
                       height="800"
                       alt="programme">
                </p>
                <div class="c-programme__body">
                  <h3 class="c-programme__title">Le grand bordel</h3>
                  <p class="c-programme__date">Mardi 10h00 - 11h00</p>
                  <p class="c-programme__episodes">18 Episodes</p>
                </div>
              </a>
            </article>
          </li>
          <li>
        
            <article class="c-programme">
              <a class="c-programme__link" href="/emissions/titre-emission/">
                <p class="c-programme__media">
                  <img class="c-programme__image  o-fluidimg"
                       src="https://picsum.photos/id/1025/800/800"
                       loading="lazy"
                       decoding="async"
                       width="800"
                       height="800"
                       alt="programme">
                </p>
                <div class="c-programme__body">
                  <h3 class="c-programme__title">Le grand bordel</h3>
                  <p class="c-programme__date">Mardi 10h00 - 11h00</p>
                  <p class="c-programme__episodes">18 Episodes</p>
                </div>
              </a>
            </article>
          </li>
          <li>
            <article class="c-programme">
              <a class="c-programme__link" href="/emissions/titre-emission/">
                <p class="c-programme__media">
                  <img class="c-programme__image  o-fluidimg"
                       src="https://picsum.photos/id/101/800/800"
                       loading="lazy"
                       decoding="async"
                       width="800"
                       height="800"
                       alt="programme">
                </p>
                <div class="c-programme__body">
                  <h3 class="c-programme__title">Le grand bordel</h3>
                  <p class="c-programme__date">Mardi 10h00 - 11h00</p>
                  <p class="c-programme__episodes">18 Episodes</p>
                </div>
              </a>
            </article>
          </li>
          <li>
            <article class="c-programme">
              <a class="c-programme__link" href="/emissions/titre-emission/">
                <p class="c-programme__media">
                  <img class="c-programme__image  o-fluidimg"
                       src="https://picsum.photos/id/1005/800/800"
                       loading="lazy"
                       decoding="async"
                       width="800"
                       height="800"
                       alt="programme">
                </p>
                <div class="c-programme__body">
                  <h3 class="c-programme__title">Le grand bordel</h3>
                  <p class="c-programme__date">Mardi 10h00 - 11h00</p>
                  <p class="c-programme__episodes">18 Episodes</p>
                </div>
              </a>
            </article>
          </li>
        </ul>

        <ul class="c-pagination">
          <li class="c-pagination__item"><span class="c-pagination__link" aria-label="Précédents">{% include "svg/pagination_previous.svg" %}</span></li>
          <li class="c-pagination__item"><a class="c-pagination__link  is-disabled" href="#" aria-label="Suivants">{% include "svg/pagination_next.svg" %}</a></li>
        </ul>
      </div>

    </div>
  </div>

</main>
{% endblock %}