// ===========================================
// =splits
// ===========================================

// ===========================================
// =variables
// ===========================================

$breakpoints-map: (
  "small": "all and (min-width: 500px)",
  "medium": "all and (min-width: 750px)",
  "large": "all and (min-width: 1024px)",
  "xlarge": "all and (min-width: 1500px)",
) !default;

// ===========================================
// =base classes
// ===========================================

.l-split {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.l-split--1fr2fr {
  @include breakpoint(medium) {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    column-gap: var(--grid-gutter);
  }
}

.l-split--5fr7fr {
  @include breakpoint(large) {
    grid-template-columns: minmax(0, 5fr) minmax(0, 7fr);
    column-gap: var(--grid-gutter);
  }
}
