// ===========================================
// =colors
// ===========================================

:root {
  // color variables (never used as is in CSS)
  --color-red: #ab6353;
  --color-red-bright: #c37c6b;
  --color-red-dark: #8c5144;
  --color-red-light: #f2dfd9;

  --color-green: #3a8276;
  --color-green-bright: #58aca0;
  --color-green-dark: #306b61;
  --color-green-light: #d0e8e4;

  --color-pink: #c35067;
  --color-pink-bright: #d66781;
  --color-pink-dark: #a04254;
  --color-pink-light: #f4d4dc;

  --color-brown: #9e6c3d;
  --color-brown-bright: #c9995e;
  --color-brown-dark: #815932;
  --color-brown-light: #f0e2d2;

  --color-gray-100: #0f0907;
  --color-gray-200: #2c2725;
  --color-gray-300: #494442;
  --color-gray-400: #74706f;
  --color-gray-500: #cac9c8;
  --color-gray-600: #d9d8d7;
  --color-gray-700: #e7e6e6;
  --color-gray-800: #f5f5f5;

  --color-white: #ffffff;

  // incident variables (used in CSS)
  --color-brand: var(--color-red);
  --color-brand-bright: var(--color-red-bright);
  --color-brand-dark: var(--color-red-dark);
  --color-brand-light: var(--color-red-light);

  --color-background: var(--color-white);
  --color-background-offset: var(--color-gray-700);

  --color-text: var(--color-gray-100);
  --color-text-offset: var(--color-gray-400);
  --color-text-inverse: var(--color-white);

  --color-border: var(--color-gray-500);
  --color-border-soft: var(--color-gray-700);
  --color-border-hard: var(--color-gray-300);

  --color-pagination: var(--color-gray-200);
  --color-pagination-hover: var(--color-gray-100);
  --color-pagination-disabled: var(--color-gray-500);
}
