<div class="c-mobilemenu  js-mobilemenu">
  <div class="c-mobilemenu__actions">
    <button class="c-closenav  js-navtrigger" aria-label="close">{% include "svg/icon_close.svg" %}</button>
  </div>
  <div class="c-mobilemenu__main">
    <nav>
      {% for item in nav %}
        {% if loop.first %}<ul class="c-mobilenav">{% endif %}

          {% set currentClass = "" %}
          {% set currentAria = "" %}
          {% if item.trigger == currentSection %}
            {% set currentClass = "is-active" %}
            {% set currentAria = 'aria-current="page"'|safe %}
          {% endif %}

          <li class="c-mobilenav__item"><a class="c-mobilenav__link  {{ currentClass }}" href="{{ item.url }}" {{ currentAria }}>{{ item.label }}</a></li>

        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    </nav>
  </div>
  <div class="c-mobilemenu__footer">
    <a class="c-cta  c-cta--icon" href="#">{% include "svg/icon_play_small.svg" %} Ecouter live</a>
  </div>
</div>