<header class="c-siteheader">
  <div class="c-siteheader__inner  l-container">
    <p class="c-siteheader__logo"><a href="/">{% include "svg/logo.svg" %}</a></p>
    <div class="c-siteheader__nav">
      {% include "partials/mainnav.njk" %}
    </div>
    <p class="c-siteheader__actions">
      <a class="c-cta  c-cta--icon" href="#">{% include "svg/icon_play_small.svg" %} Ecouter Live</a>
    </p>
    <p class="c-siteheader__hamburger">
      <a class="c-hamburgermenu  js-navtrigger" href="#footernav" aria-label="menu">{% include "svg/icon_hamburger.svg" %}</a>
    </p>
  </div>

  {% include "partials/mobilemenu.njk" %}
</header>