<footer>
  <div class="l-container">
    <div class="c-sitefooter__social">
      <h2>Restez connectés</h2>
      <p>Restez branchés sur Louiz radio et suivez-nous sur les réseaux sociaux.</p>
      <p><a href="mainto:contact@louizradio.be">contact@louizradio.be</a></p>
      <nav aria-label="social media">
        <ul>
          <li><a href="#" aria-label="Instagram">{% include "svg/icon_instagram.svg" %}</a></li>
          <li><a href="#" aria-label="Twitter">{% include "svg/icon_twitter.svg" %}</a></li>
          <li><a href="#" aria-label="Facebook">{% include "svg/icon_facebook.svg" %}</a></li>
        </ul>
      </nav>
    </div>
    <div class="c-sitefooter__nav">
      <nav aria-label="footer navigation">
        <ul class="c-footernav">
          <li class="c-footernav__item"><a class="c-footernav__link" href="#">Accueil</a></li>
          <li class="c-footernav__item"><a class="c-footernav__link" href="#">Emissions</a></li>
          <li class="c-footernav__item"><a class="c-footernav__link" href="#">A propos</a></li>
          <li class="c-footernav__item"><a class="c-footernav__link" href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="c-sitefooter__legal">
      <nav aria-label="legal">
        <ul class="c-legalnav">
          <li class="c-legalnav__item"><a class="c-legalnav__link" href="#">Mentions légales</a></li>
          <li class="c-legalnav__item"><a class="c-legalnav__link" href="#">Politique de cookies</a></li>
        </ul>
      </nav>
      <p>&copy; Louiz Radio 2022</p>
    </div>
  </div>
</footer>