<header class="c-siteheader">
  <div class="c-siteheader__inner  l-container">
    <p class="c-siteheader__logo">{% include "svg/logo.svg" %}</p>
    <div class="c-siteheader__nav">
      <nav aria-label="header navigation">
        <ul class="c-mainnav">
          <li class="c-mainnav__item"><a class="c-mainnav__link" href="#">Accueil</a></li>
          <li class="c-mainnav__item"><a class="c-mainnav__link" href="#">Emissions</a></li>
          <li class="c-mainnav__item"><a class="c-mainnav__link" href="#">A propos</a></li>
          <li class="c-mainnav__item"><a class="c-mainnav__link" href="#">Contact</a></li>
        </ul>
      </nav>
    </div>
    <p class="c-siteheader__actions">
      <a class="c-cta" href="#">Ecouter Live</a>
    <p>
  </div>
</header>